# Project Name - Heart Disease Prediction

In [1]:
# Load the libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import normalize, Imputer, StandardScaler
import seaborn as sns
%matplotlib inline
sns.set()

In [2]:
#Set the working Directory
os.chdir("C:/Users/Aurangzeb Alam/Desktop/Projects/3")

In [3]:
#Check the working Directory
os.getcwd()

'C:\\Users\\Aurangzeb Alam\\Desktop\\Projects\\3'

In [4]:
columns_name = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N"]

In [5]:
#Load the Data 
Dataset1 = pd.read_csv("cleveland.csv",names=columns_name)
Dataset2 =pd.read_csv("hungary.csv",names=columns_name)
Dataset3 =pd.read_csv("switzerland.csv",names=columns_name)

In [6]:
#make a list of Dataset1, Dataset2 and Dataset3
Dataset_list = [Dataset1,Dataset2,Dataset3]

In [7]:
#Concinate all these dataset
Dataset_final = pd.concat(Dataset_list)

In [8]:
#Head of Dataset_final
Dataset_final.head()

      A    B    C    D    E  F  G    H  I    J  K    L    M  N
0  63.0  1.0  1.0  145  233  1  2  150  0  2.3  3  0.0  6.0  0
1  67.0  1.0  4.0  160  286  0  2  108  1  1.5  2  3.0  3.0  2
2  67.0  1.0  4.0  120  229  0  2  129  1  2.6  2  2.0  7.0  1
3  37.0  1.0  3.0  130  250  0  0  187  0  3.5  3  0.0  3.0  0
4  41.0  0.0  2.0  130  204  0  2  172  0  1.4  1  0.0  3.0  0

In [9]:
#Shape
Dataset_final.shape

(720, 14)

In [10]:
# Columns
Dataset_final.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N'], dtype='object')

In [11]:
Dataset_final = Dataset_final.replace("?",np.nan)

# Missing Value Analysis

In [12]:
missing_value = Dataset_final.isnull().sum().sum()
missing_value

1061

In [13]:
#Drop irrelevant columns
Dataset_final = Dataset_final.drop(["K", "L", "M"],axis=1)

In [14]:
#Replace ? with nan 
Dataset_final = Dataset_final.replace('?', np.nan)

In [15]:
#Impute missing values with mean
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imputedData = imp.fit_transform(Dataset_final)

C:\Anaconda\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

# Split Data

In [16]:
#Split Data into dependent and independent
X=imputedData[:,:-1]
y=imputedData[:,-1]

In [17]:
#Split into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

# Feature Selection

In [18]:
# Scale data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Build and train the Model

In [19]:
#Build the model with SVM algorithm
from sklearn import svm
classifier = svm.SVC(kernel='rbf')
classifier.fit(X_train, y_train)
preds = classifier.predict(X_test)

In [20]:
# Accuracy of predictions
from sklearn.metrics import accuracy_score
accuracy_score(y_test, preds)

0.6018518518518519